<HTML
<STYLE TYPE="text/css">

<!--
.Przyklad {font-family: Helvetica; font-size: 14pt; font-weight: bold; color: lime}
.Wazne {font-family: Verdana; font-size: 10pt; font-weight: bold; color: #FFFFFF}
.Binary {font-family: Courier New; font-size: 10pt; font-weight: normal; color: #FFAAFF}
.Inglisz {font-style: italic; }

.T {color: yellow; font-weight: bold}
.K {color: cyan; font-weight: bold}
.C {color: #00FF00; font-weight: normal}
.L {color: #FFAAFF; font-weight: bold}
.W {color: #808080; font-weight: bold}

A {font-family: Verdana; font-size: 9pt; color: #00FF00; text-decoration: NONE}
A.EMAIL {font-weight: bold; color: #DCCAAA;}
A:HOVER {color: YELLOW}

BODY
{
 font-family: Verdana;
 font-size: 10pt;
 color: #CCCCCC;
 background-color: #464646
}

H1 {font-size: 20pt; color: #0088FF}
H2 {font-size: 14pt; color: #00BBFF}
H3 {font-size: 12pt; color: #00BBFF}
H1, H2, H3 {font-family: Tahoma, font-weight: bold}

.TDN 
{
 border-width: 1px;
 border-color: #FFFFFF;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 padding-bottom: 2px;
 background-color: #565656;
}

.TDW
{
 border-width: 1px;
 color: black;
 background-color: white;
}

.NOT
{
 background-color: #464646;
 color: #CCCCCC;
 font-family: Verdana;
 font-size: 10pt;
 font-weight: normal;
}

U {font-weight: normal; }
TH.ARGLIST {color: cyan; font-weight: bold; }
I {color: yellow; font-weight: bold; }

.ARGLIST
{
 font-family: Tahoma, Verdana;
 font-size: 10pt;
 font-weight: normal;
 color: white;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 background-color: #565656;
}

BODY, TABLE 
{
 scrollbar-face-color: #6666AA; 
 scrollbar-highlight-color: cyan; 
 scrollbar-shadow-color: #330033; 
 scrollbar-3dlight-color : gray; 
 scrollbar-arrow-color: #FFDDFF; 
 scrollbar-track-color: #330033; 
 scrollbar-darkshadow-color: #330033;
}


TD
{
 font-family: Courier New;
 font-size: 10pt;
 font-weight: bold;
 color: yellow;
 background-color: blue;
 padding-top: 2mm;
 padding-bottom: 2mm;
 padding-left: 2mm;
 padding-right: 2mm
}

P.UWAGA
{
 background-color: lightgreen;
 color: red;
 border-width: 1mm;
 border-color: red;
 padding: 2mm;
}

-->
</STYLE>

