/* Main elements */
body
{
	background-color: #c7d6e7 ;
	/*--------------------------------------------------
	* font-family	: Verdana, Helvetica, Arial, sans-serif ;
	*--------------------------------------------------*/
	font		: 0.8em/1.4em Verdana, Arial, sans-serif ;
	/*--------------------------------------------------
	* font-family	: Verdana, Arial, sans-serif ;
	* font-size	: 9pt ;
	*--------------------------------------------------*/
	color		: black ;
}

p
{
	margin		: 10px ;
}

h1
{
	font-size	: 2em ;
	font-weight	: bold ;
	color		: #996633;
}

h2
{
	font-size	: 1.5em ;
	font-weight	: bold ;
	margin		: 10px ;
	padding-top	: 20px;
	padding-bottom	: 10px;
}

h3
{
	font-size	: 1em ;
	font-weight	: bold ;
	margin		: 15px 10px 10px ;
}

table
{
	border		: none ;
}

/* The main window cell */
div.main
{
	background-color: #ffffff ;
	color		: #000000 ;
	padding		: 10px ;
	margin		: 0 ;
}

div.head
{
	background-color: #000080 ;
	margin		: 0 ;
	padding		: 0 ;
}

div.main ul li
{
	margin-top	: 5px ;
}

div.main table, div.main dl, div.main pre
{
	margin		: 10px ;
}

a:link
{
	text-decoration	: none ;
}

a:visited
{
	text-decoration	: none ;
}

a:hover
{
	text-decoration	: underline ;
}

/* The title window cell */
td.title
{
	background-color: #000080 ;
	color		: #C7D6E7 ;
	font-size	: 16pt ;
	margin		: 0px ;
	padding		: 0px ;
	width		: 100% ;
	vertical-align  : middle ;
	font-family	: Times, serif ;
	font-weight	: bold ;
	font-style	: italic ;
	height		: 40px ;
}


/* The info window cell */
td.info
{
	background-color: #000080 ;
	color		: #ffffff ;
	font-size	: 8pt ;
	text-align	: right ;
	vertical-align	: middle ;
	padding		: 0px ;
	padding-right	: 10px ;
	margin		: 0px ;
	height		: 40px ;
	white-space	: nowrap ;
}

td.info a:link
{
	color		: #ffffff ;
	text-decoration	: none ;
}
td.info a:visited
{
	color		: #ffffff ;
	text-decoration	: none ;
}
td.info a:hover
{
	text-decoration	: underline ;
}

/* The menu window cell */
td.menu
{
	background-color: #000080 ;
	color		: #ffffff ;
	font-size	: 9pt ;
	padding		: 0 ;
	margin		: 0 ;
}

ul.menu
{
	list-style-type	: square ;
	color		: #996633 ;
	margin		: 0px ;
	padding		: 0px ;
	padding-left	: 30px ;
	padding-right	: 10px ;
}
ul.menu a:link
{
	color		: #ffffff ;
	text-decoration	: none ;
}
ul.menu a:visited
{
	color		: #ffffff ;
	text-decoration	: none ;
}
ul.menu a:hover
{
	text-decoration : underline ;
}

ul.menu ul
{
	list-style-type	: none ;
	color		: #ffffff ;
	font-size	: 8pt ;
	margin		: 0px ;
	margin-bottom	: 5px ;
	padding		: 0px ;
	padding-left	: 10px ;
}

/* The footer window cell */
td.foot
{
	background-color: #996633 ;
	color		: #ffffff ;
	font-size	: 8pt ;
	padding		: 2px ;
	padding-left	: 10px ;
	vertical-align	: middle ;
	height		: 20px ;
}

address
{
	font-style      : normal ;
}

td.foot a:link, td.menuHl a:link, td.menuUl a:link,
td.foot a:visited, td.menuHl a:visited, td.menuUl a:visited
{
	color		: #ffffff ;
}

table.listing td
{
	padding-right	: 15px ;
	padding-left	: 0px ;
	padding-top	: 2px ;
	padding-bottom	: 2px ;
	border-bottom	: 1px solid black ;
}

table.list td
{
	padding-right	: 10px ;
	padding-left	: 10px ;
	border-right	: 1px solid black ;
}

table.list td.h
{
	border		: none ;
	font-weight	: bold ;
	color		: white ;
	background-color: #000080 ;
}


/* TreeView levels */
p.lev1
{
	margin-top	: 5px ;
	margin-left	: 15px ;
	margin-bottom	: 5px ;
}

p.lev2
{
	margin-top	: 5px ;
	margin-left	: 30px ;
	margin-bottom	: 5px ;
}

p.lev3
{
	margin-top	: 5px ;
	margin-left	: 45px ;
	margin-bottom	: 5px ;
}

/* List view menu tabs */
td.menuHl
{
	background-color : #996633 ;
	padding-top	 : 5px ;
	padding-bottom	 : 5px ;
	padding-left	 : 10px ;
	padding-right	 : 10px ;
	border		 : none ;
	color		 : white ;
}

td.menuUl
{
	background-color : #000080 ;
	padding-top	 : 5px ;
	padding-bottom	 : 5px ;
	padding-left	 : 10px ;
	padding-right	 : 10px ;
	border		 : none ;
	color		 : white ;
}

table.commandbar button
{
	font-family	: Verdana, Arial, sans-serif;
	font-size	: 8pt ;
	font-weight	: bold
}
