/*
$Id: basic.css,v 1.27 2006/05/08 16:10:30 jalperin Exp $

$Log: basic.css,v $
Revision 1.27  2006/05/08 16:10:30  jalperin
updates to stats and metadata

Revision 1.26  2006/04/04 14:27:00  mtrudel
view counter, new fields for metadata, new export formats

Revision 1.25  2006/03/28 20:24:46  mtrudel
new ID style and cooler metadata management

Revision 1.24  2006/03/22 20:14:17  mtrudel
citation table styles

Revision 1.23  2006/03/21 17:09:43  mtrudel
metadata enhacements - citation suggestions and exporting

Revision 1.22  2006/02/15 19:01:14  mtrudel
added style for the (R) on the topframe

Revision 1.21  2006/02/14 21:30:03  mtrudel
editted metadata css

Revision 1.20  2006/02/14 20:51:44  mtrudel
added metaframe CSS

Revision 1.19  2006/02/10 20:29:57  mtrudel
added styles for statistics tables

Revision 1.18  2006/02/02 15:34:19  mtrudel
just wanted to commit the entire project

Revision 1.17  2006/01/11 20:39:14  mtrudel
- pretty printing of error codes in mainframe
- fixing of a few bugs in query refactor
- new css style for mainframe erros

Revision 1.16  2005/12/20 20:24:21  mtrudel
- fixes for UI

Revision 1.15  2005/12/01 17:06:40  mtrudel
- cleaned up CSS
- added 'safe' contacts to contact page
- laid groundwork for admin pages (but did not commit them as the environment on prod is not yet safe for them)
- make all header and footer links absolute

Revision 1.14  2005/11/28 21:10:17  mtrudel
- added footer to the site
- added contact, privacy, and legal pages

Revision 1.13  2005/11/28 18:13:39  mtrudel
- chagned named entity to nueric for apos
- fixed stylesheet and topframe

Revision 1.12  2005/11/25 21:51:00  mtrudel
- cleaned up markup a bit
- remove some dead code from template

Revision 1.11  2005/11/24 15:56:19  mtrudel
- made the CSS a valid one

Revision 1.10  2005/11/23 22:13:25  mtrudel
- made pages XHTML 1.1 strict compliant (ran through the W3C verifier)
- shortened the attribute names to use for various queries (old ones still work)

Revision 1.9  2005/11/15 21:54:29  mtrudel
- numerous typos in comments
- new css to deal with (R) tags
- new docs
- new URL field now defined for members table in DB scripts

Revision 1.8  2005/11/03 20:35:18  mtrudel
- added some more formatting to the members table

Revision 1.7  2005/11/01 20:23:15  mtrudel
- changed copyright symbols to reg
- fixed a few links in index
- moved stuff from index to faq, edited faq a bit
- tweaked two column layout
- added a join link to top banner and mambers page

Revision 1.6  2005/10/21 18:07:04  mtrudel
- style cahnges
- backed out wget logfile code

Revision 1.5  2005/10/21 15:07:57  mtrudel
*** empty log message ***

Revision 1.4  2005/10/12 19:45:00  mat
- added in index and FAW pages, copied form old site
- added permalink link in topframe
- added form to query page
- tweaked template and CSS to bring look and feel in line with what the old site should have been
- moved scour to comb in all text, and filenames

Revision 1.3  2005/09/27 20:47:47  mat
- massive write up of the archiving system
- todos, db cleanup, and css jiggering

Revision 1.2  2005/09/27 18:36:56  mat
- query side now 99% working
- starting on query submit

*/

/* General all purpose styling */
body {
  font-family: helvetica, verdana, sans-serif;
  line-height: 1.4em;
  font-size: 12px;
}

sup { line-height: 0px; }

h1, h2, h3, h4 {
  font-weight: bold;
  color: #444444;
}

h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }

img { border: 0px; }

form { margin: 0px; }

input.text { width: 80%; }

a { text-decoration: none; font-weight: bold; color: #52829c; }

a:hover { color: #444444; }

.error { color: #cc0000; }

.mainframeerror { padding: 1em; }

.footer { padding-top: 2em; font-size: 80%; text-align: center; }

/* Styling for the top and bottom of template.inc.php wrapped files */  
table.topmaster { 
  width: 75%; 
  margin-left: auto; 
  margin-right: auto; 
  border-color: #52829c; 
  border-width: 1px; 
  border-style: solid; 
}

td.titlebanner { 
  text-align: center; 
  background-color: #cedfe7; 
  padding: 0.75em; 
  font-family: gill sans, gill sans mt, tahoma, sans-serif; 
  font-size: 250%; 
}

td.linkbanner { 
  text-align: center; 
  background-color: #52829c; 
  padding: 1em; 
}

td.mainbody { 
  background-color: #ffffff; 
  padding: 1em; 
}

a.linkbannerlinks { color: #CEDFE7; }

a.linkbannerlinks:hover { color: #444444; }

/* Special case styling for various static pages */
td.twocolumn { 
  width: 50%; 
  vertical-align: top; 
  padding: 1em; 
}

table.members { border-collapse: collapse; }
table.members td { border: 1px; border-style: solid; border-color: #52829c; padding: 1em; }

table.form { border: 0px; width: 100%; }

col.formlabel { width: 25%; }

col.formfield { width: 75%; }

table.adminlist { border-collapse: collapse; }
table.adminlist td { border: 1px; border-style: solid; border-color: #52829c; padding: 0em; padding-left: 1em; padding-right: 1em; }
table.adminlist tr.even { background-color: #ccc; }
table.adminlist tr.odd { background-color: #fff; }
table.adminlist div.url { width: 25em; overflow: hidden; }
table.adminlist div.timestamp { white-space: nowrap; }

table.statistics { border-collapse: collapse; }
table.statistics td { border: 1px; border-style: solid; border-color: #52829c; padding: 0em; padding-left: 1em; padding-right: 1em; }
table.statistics tr.even { background-color: #ccc; }
table.statistics tr.odd { background-color: #fff; }

/* Styling for the top frame of results pages */
table.topframe { 
  background-color: #cedfe7; 
  padding-top: 0.5em; 
  padding-bottom: 0.5em; 
  padding-right: 0.5em; 
  margin: 0px; 
  line-height: 1em; 
}

div.topframewebcitelogo { 
  font-family: futura, gill sans, gill sans mt, tahoma, sans-serif; 
  font-size: 200%; 
}

div.topframewebcitelogo sup { 
  font-family: futura, gill sans, gill sans mt, tahoma, sans-serif; 
	font-size: 50%;
}

/* styling for metadata frame */
table.metaframe { 
  background-color: #cedfe7; 
  padding-top: 0em; 
  padding-bottom: 0em; 
  padding-left: 0.5em;
  padding-right: 0.5em; 
  margin: 0px; 
  line-height: 1em; 
}

table.citetable { 
  background-color: #cedfe7; 
  border-collapse:collapse;
}

table.citetable th {
	font: bold 11px ;
	color: #cedfe7;
	border-right: 1px solid #52829c;
	border-bottom: 1px solid #52829c;
	border-top: 1px solid #52829c;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #808080  no-repeat;
}

table.citetable td {
	border:solid 1px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

.btn {
	text-align: center; 
	padding: 1px 1px 1px 1px; 
	border: 1px solid black; 
	background: #52829c; 
	color: #cedfe7; 
	text-decoration: none;
}