* {
	font-family: Trebuchet MS, Arial, Verdana, Helvetica, Sans-Serif, Tahoma;
	font-size: 13px;
	color: #000000;
	line-height: 18px;
	}

BODY {
	margin: 30px;
	background-image: url("/img/bg.gif");
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	}

TABLE TD {
	padding: 0;
	}

TABLE {
	border-collapse: collapse;
	}

TABLE, IMG {
	border: 0;
	}

TABLE.nav {
	margin-left: 15px;
	}

TABLE.nav TD {
	padding-top: 3px;
	padding-bottom: 3px;
	}

TABLE.nav TD IMG {
	margin-right: 5px;
	margin-left: 10px;
	}

TABLE.nav TD.lang IMG {
	margin: 5px;
	}

B.capt {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #266692;
	}

A:link, A:visited, A:active {
	color: #266692;
	text-decoration: none;
	}

A:hover {
	color: #000000;
	text-decoration: none;
	background-color: #CBE0EA;
	}

A.nav:link, A.nav:visited, A.nav:active {
	color: #266692;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-right: 10px;
	width: 100%;
	}

A.nav:hover {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-right: 10px;
	width: 100%;
	}

.lang_en {
	background-image: url("http://www.docmirror.net/img/_lang_en.gif");
	background-repeat: no-repeat;
	background-position: 13px 25px;
	}

.lang_de {
	background-image: url("http://www.docmirror.net/img/_lang_de.gif");
	background-repeat: no-repeat;
	background-position: 13px 25px;
	}

.lang_fr {
	background-image: url("http://www.docmirror.net/img/_lang_fr.gif");
	background-repeat: no-repeat;
	background-position: 13px 25px;
	}

.lang_es {
	background-image: url("http://www.docmirror.net/img/_lang_es.gif");
	background-repeat: no-repeat;
	background-position: 13px 25px;
	}

.lang_it {
	background-image: url("http://www.docmirror.net/img/_lang_it.gif");
	background-repeat: no-repeat;
	background-position: 13px 25px;
	}

.lang_pl {
	background-image: url("http://www.docmirror.net/img/_lang_pl.gif");
	background-repeat: no-repeat;
	background-position: 13px 25px;
	}
.hiddenheader {
        visibility: hidden;
        }
